{% extends 'khome/base.html' %}

{% block body %}
    <ul>
    {% for item in playlist %}
        <li> {{ item.title }} </li>
    {% empty %}
        <h3> Welcome! </h3>
        <h5> go to {{ control_page }} to add some songs! </h5>
        <img src="http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&data=http://api.qrserver.com/v1/create-qr-code/?color=000000&bgcolor=FFFFFF&qzone=1&margin=0&size=600x600&ecc=L&data={{ control_page }}" alt="qr code" />
    {% endfor %}
    </ul>
{% endblock %}

{% block script %}

    function go_to_play(id) {
        url_tmp = "{% url 'play' video_id='_video_id_' %}";
        link = url_tmp.replace('_video_id_', id);
        console.log("go to link: " + link);
        window.location.replace( link );
    }

    function poll_callback(data) {
        if (data.playlist.length > 0) {
             id = data.playlist[0][0];
             go_to_play(id);
        } else {
             console.log("waiting for playlist");
        }
    }

    var poller = new Poll();
    poller.url = '{% url 'playlist' %}';
    poller.func = poll_callback;
    poller.activatePoll();
{% endblock %}